{:company/legal-name "HDFC BANK LIMITED"
 :company/lei "335800ZQ6I4E2JXENC50"
 :company/jurisdiction "IN"
 :company/website "https://www.hdfc.bank.in/"
 :company/inquiry-form-url "https://www.hdfc.bank.in/msme-banking/smarthub-vyapar-merchant-app/contactless-tap-and-pay-for-merchants"}
